.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.black-background {
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.panel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 240px;
	width: 320px;
	max-width: 80%;
	margin: auto;
	text-align: center;
}

.close-panel {
	cursor: pointer;
	margin: 0!important;
    position: absolute;
    right: -20px;
    top: -25px;
    background: #999;
    color: #fff;
    padding: 6px;
}

.panel > div {
	margin-top: 10px;
	font-size: 12px;
}

.user-panel {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 200;
}

.user-panel.block {
	display: block;
}

.user-panel-input {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 10px;
	border: 0;
	border-bottom: 1px solid #ccc;
}

.login-panel-text {
	color: white;
	margin: 0;
	padding-top: 10px;
	text-align: center;
	padding-left: 10px;
}

.login-panel-text > a {
	cursor: pointer;
	color: #9f9f9f;
	font-weight: 500;
	text-decoration: none;
}

.user-panel-button {
	box-sizing: border-box;
	width: 70px;
	height: 32px;
	margin-top: 10px;

	cursor: pointer;

	color: #eee;
	border: none;
	background: #484848;
	box-shadow: 1px 1px 3px #fff;
}

.panel > form label {
    font-size: 12px;
    clear: both;
    width: 100%;
    color: red;
}
