body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #4183c4;
}

a:hover {
	text-decoration: underline;
}

code {
	margin: 0 2px;
	padding: 0 5px;

	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #f8f8f8;

	font-size: 12px;
}

h1, h2, h3, h4 {
	margin: 0 0 15px;
	padding: 0;

	font-weight: bold;
}

h1 {
	border-bottom: 1px solid #ddd;

	font-size: 2.5em;
}

h2 {
	border-bottom: 1px solid #eee;

	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

p, ul {
	margin: 15px 0;
}

ul {
	padding-left: 30px;
}

.nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	overflow: hidden;

	color: white;
	background: #b8b8b8;
	z-index: 100;
}

.nav > img {
	float: left;

	height: 60px;
	padding-left: 30px;
}

.nav > a {
	float: right;

	box-sizing: border-box;
	width: 20%;

	list-style: none;

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	color: white;
	border-left: 2px solid #dcdcdc;

	line-height: 60px;
}

.nav > a:hover {
	background: #a8a8a8;
}

.tests-list {
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;

	float: left;
	overflow: auto;

	width: 90%;
	padding: 5%;

	background: #fff;
}

.tests-heading {
	margin: 10px;

	color: #666;
}

.test-options {
	overflow: auto;
}

.test-option {
	float: left;
	overflow: auto;

	width: 180px;
	margin: 10px;
	padding: 20px 10px;

	cursor: pointer;
	text-align: center;

	color: #3c3c3c;
	border: none;
	border-radius: 8px;
	background: #f3f3f3;
	box-shadow: 1px 1px 3px #333;

	font-size: 1.1em;
}

.test-option:hover {
	background: #e3e3e3;
	box-shadow: 1px 1px 3px #666;
}

.test-option.false {
	color: #fff;
	background: #ff7656;
}

.test-option.false:hover {
	background: #ff5636;
}

.add-test-button {
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	margin: 20px 0 0 10px;
	padding: 5px;

	cursor: pointer;

	color: #666;
	border: none;
	border-radius: 5px;
	background: #b0f2a2;
	box-shadow: 1px 1px 3px #7f7f7f;
}

.add-test-button:hover {
	background: #77ff70;
}

.test-details {
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;

	float: left;
	overflow: auto;

	width: 90%;
	padding: 5%;

	color: #666;
	background: #fff;

	font-size: 1.2em;
}

.back {
	color: #fb0b4c;
	text-decoration: none;
	cursor: pointer;
}

.back:hover {
	color: #666;
	text-decoration: none;
}

.edit-nav > .back {
	float: left;
	font-size: 2em;
	line-height: 40px;
	margin-right: 5px;
}

.test-details > span {
	display: block;

	margin-bottom: 5px;
	padding-bottom: 5px;

	color: #555;
	border-bottom: 1px solid #eee;

	font-size: 1.3em;
}

.test-details-button {
	box-sizing: border-box;
	width: 100px;
	height: 40px;
	margin-top: 20px;
	margin-right: 20px;
	padding: 5px;

	cursor: pointer;

	color: #666;
	border: none;
	border-radius: 5px;
	background: #f3f3f3;
	box-shadow: 1px 1px 3px #7f7f7f;
}

.test-details-button:hover {
	background: #e3e3e3;
	box-shadow: 1px 1px 3px #5a5a5a;
}

.activate {
	color: #666;
	background: #b0f2a2
}

.activate:hover {
	background: #77ff70;
}

.deactivate {
	color: #fff;
	background: #ff7656;
}

.deactivate:hover {
	background: #fe5150;
}

.background {
    position: absolute;
    z-index: 1;

	width: 100%;
    height: 100%;

	background: rgba(0,0,0,0.8);
}

.add-test {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: auto;

	width: 400px;
	height: 120px;
	margin: auto;
	padding: 5%;

	color: #666;
	border: 1px solid #ccc;
	background: #fff;
}

.add-test > span {
    display: block;

	margin: 10px 0;

    font-size: 1.1em;
}

input#addTest {
    width: 60%;
    margin-bottom: 10px;
	padding: 10px;

	border: 1px solid #999;
    border-radius: 5px;
}

.add-button {
    box-sizing: border-box;
    width: 20%;
    height: 36px;
    margin-top: -2px;
    margin-left: 3%;
    padding: 5px;

    cursor: pointer;

    color: #666;
	border: none;
	border-radius: 5px;
    background: #b0f2a2;
    box-shadow: 1px 1px 3px #7f7f7f;
}

input#deactivate-test {
	margin-left: 15px;
}

.edit-test {
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;

	float: left;
	overflow: auto;

	width: 90%;
	padding: 5%;

	color: #666;
	background: #fff;
}

.edit-nav {
	display: inline-block;

	margin-bottom: 15px;
}

.edit-nav-buttons {
	float: left;

	box-sizing: border-box;
	width: 120px;
	height: 40px;

	cursor: pointer;
	text-align: center;

	border: 1px solid #aaa;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #efefef;

	line-height: 40px;
}

.edit-nav-buttons.active {
	background: #fff;
}

.save-button {
	box-sizing: border-box;
	width: 100px;
	height: 36px;
	margin-top: -2px;
	margin-left: 3%;
	padding: 5px;

	cursor: pointer;

	color: #666;
	border: none;
	border-radius: 5px;
	background: #b0f2a2;
	box-shadow: 1px 1px 3px #7f7f7f;
}

.save-button:hover {
	background: #77ff70;
}

.show-body {
	display: none;
}

.show-body.active {
	display: block;
	overflow: auto;
}

input#editTestName {
    width: 60%;
    margin-bottom: 10px;
	padding: 10px;

	border: 1px solid #999;
    border-radius: 5px;
}

.question-button {
	display: inline-block;

	box-sizing: border-box;
	width: 40px;
	height: 40px;
	margin: 10px;
	padding: 10px;

	cursor: pointer;
	text-align: center;

	border: none;
	border-radius: 8px;
	background: #e1dfeb;
	box-shadow: 2px 2px 1px #6d6d6d;

	line-height: 20px;
}

.question-button:hover {
	background: #c3c0d8;
}

.question-button.attempted {
	background: #afceff;
}

.question-button.attempted:hover {
	background: #79ccfe;
}

.question-button.submitted {
	background: #b0f2a2;
}

.question-button.submitted:hover {
	background: #77ff70;
}

.show {
}

.hide {
	display: none;
}
